p{
margin-right: 1000px;
border-bottom: 1px solid black;
border-right: 1px solid black;
border-left: 1px solid black;    
padding-left: 15px;
padding-right: 15px;
padding-bottom: 15px;
padding-top: 15px;
margin-top: -16px;
}

#lastone{
margin-right: 1000px;
border-right: 1px solid black;
border-left: 1px solid black;    
border-bottom: 0px;    
padding-left: 15px;
padding-right: 15px;
padding-bottom: 15px;
padding-top: 15px;
margin-top: -16px;
}

p:hover{
    background-color: red;
}